.form {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Inter', Arial, sans-serif;

}

