.elements {
  margin: 50px auto 0;
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(auto-fill, 282px);
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 800px) {
  .elements {
    max-width: 582px;
  }
}

@media screen and (max-width: 540px) {
  .elements {
    margin: 36px auto 0;
    max-width: 282px;
  }
}
